<%= form_for @question do |f| %>
<% if flash[:errors] %>
  <strong>The following errors need to be corrected :</strong>
  <ol>
    <% flash[:errors].each do |e| %>
    <li>
      <%= e %>
    </li>
    <% end %>
  </ol>
<% end %>

  <%= f.select :planet_id, Planet.pluck(:name, :id), :include_blank => true %>
  <%= f.select :moon_id, Moon.pluck(:name, :id), :include_blank => true %>

  <br>
  <%= f.label(:title) %>
  <%= f.text_field(:title) %>
  <br>
  <%= f.text_area(:body, :size => "50x10") %>
  <br>
  <%= f.submit %>
<% end %>
