<h1>Question <%= @question.title %> </h1>
<%= @question.body %>

<% if @current_user.id == @question.user_id %>
<br>
<%= link_to 'Edit', edit_question_path( @question ) %>
|
<%= link_to 'Delete', question_path( @question ), method: 'delete' %>
<% end %>
<br>


<p>Related planet:</p>
<% if @question.planet.present? %>
  <%= link_to @question.planet.name, planet_path( @question.planet_id) %>
  <% else %>
<% end %>
<br>

<p>Related moon:</p>
<% if @question.moon.present? %>
  <%= link_to @question.moon.name, moon_path( @question.moon_id) %>
  <% else %>
<% end %>

<br>
<br>
<%= link_to like_question_path(@question), method: :put do %>
like
<%= @question.get_upvotes.size %>
<% end %>
||
<%= link_to dislike_question_path(@question), method: :put do %>
dislike
<%= @question.get_downvotes.size %>
<% end %>
<br>
<br>
<hr>
<div class="reply">
  <%= form_for @reply do |r| %>
   <%= r.text_area :body, placeholder: 'Context' %>
   <%= hidden_field_tag :question_id, @question.id %>
   <%= r.submit %>
   <% end %>
</div>


<h1>Replies</h1>
<% @question.replies.each do |r| %>
  <%= r.body %> <br>
<% end %>
