<h1>Create an Account</h1>

  <% if flash[:errors] %>
    <strong>Please correct the following errors :</strong>
    <ol>
      <% flash[:errors].each do |e| %>
      <li>
        <%= e %>
      </li>
      <% end %>
    </ol>
  <% end %>

  <%= form_for(@user, :html => {:multipart => true}) do |f| %>
  <div class="form-group row">
    <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">
    <%= f.label :username %>
  </label>
  <div class="col-sm-10">
    <%= f.text_field :username %>
  </div>
  </div>
    <br>
  <div class="form-group row">
  <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">
    <%= f.label :email, "Email Address" %>
  </label>
  <div class="col-sm-10">
    <%= f.text_field :email %>
  </div>
  </div>
    <br>
  <div class="form-group row">
  <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">
    <%= f.label :image_url, "User Avatar: " %>
  </label>
  <div class="col-sm-10">
    <%= f.cl_image_upload :image_url %>
  </div>
  </div>
    <br>
  <div class="form-group row">
  <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">
    <%= f.label :password %>
  </label>
  <div class="col-sm-10">
    <%= f.password_field :password %>
  </div>
  </div>
   <br>
   <div class="form-group row">
   <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">
    <%= f.label :password_confirmation %>
  </label>
  <div class="col-sm-10">
    <%= f.password_field :password_confirmation %>
  </div>
  </div>
   <br>
   <div class="form-group row">
   <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">
   <%= f.label :user_type %>
   </label>
   <div class="col-sm-10">
   <%= f.select :user_type, User.user_types.keys %>
   </div>
    </div>
    <br>
    <div class="col-sm-10">
    <%= f.submit "Save", class: "btn btn-primary btn-lg"%>
  </div>
  <% end %>
