<%= form_for(@planet, :html => {:multipart => true}) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label "Planet image: " %>
  <%= f.cl_image_upload :image_url %>
  <br>
  <%= f.label :surface_area %>
  <%= f.text_field :surface_area %>
  <br>
  <div class="form-group">
    <div class="col-sm">
      <%= f.label :surface_gravity %>
      <%= f.text_field :surface_gravity %>
      <%= f.submit "Change", class: "btn btn-danger btn-lg" %>
    </div>
  </div>
  <% end %>
