<h1>Moon <%= @moon.name %> </h1>
<%= @moon.description %>

<% if @moon.image_url.present? %>
  <%= image_tag @moon.image_url, class: "img moon" %>
  <% end %>

<br>
<br>
<% if @current_user.present? %>
<%= link_to 'Edit', edit_moon_path( @moon ) %>
|
<%= link_to 'Delete', moon_path( @moon ), method: 'delete' %>
<% end %>

<br>
<p>Planets
</p>
<ul>
  <%= link_to @moon.planet.name, planet_path( @moon.planet_id ) %>
</ul>
