<h1>Regions <%= @region.name %> </h1>
<%= @region.description %>

<p>Planets
</p>
<ul>
  <% @region.planets.each do |p| %>
  <li>
    <%= link_to p.name, planet_path( p ) %>
  </li>
  <% end %>
</ul>

<% if @region.image_url.present? %>
  <%= image_tag @region.image_url, class: "img" %>
<% end %>



<br>
<br>
<% if @current_user.present? %>
<%= link_to 'Edit', edit_region_path( @region ) %>
|
<%= link_to 'Delete', region_path( @region ), method: 'delete' %>
<% end %>
