<!DOCTYPE html>
<html>
  <head>
    <title>ProjectSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>
  <body>

  <nav class="login">
    <% if @current_user.present? %>
    Welcome, <%= @current_user.username %>

    <ul class="nav justify-content-left">
    <li class="nav-item">
    <%= link_to 'Logout', login_path, method: :delete, class:"nav-link active" %>
  </li>

  <ul class="nav justify-content-left">
  <li class="nav-item">
    <%= link_to 'Profile', profile_path, class:"nav-link active" %>
  </li>

  <ul class="nav justify-content-left">
  <li class="nav-item">
    <%= link_to 'Ask question', new_question_path, class:"nav-link active" %>
  </li>

  <ul class="nav justify-content-left">
  <li class="nav-item">
    <%= link_to 'Questions Index', questions_path, class:"nav-link active" %>
  </li>

    <% else %>
    <ul class="nav justify-content-left">
    <li class="nav-item">
    <%= link_to 'Login', login_path, class:"nav-link active" %>
  </li>

  <ul class="nav justify-content-left">
  <li class="nav-item">
    <%= link_to 'Sign up', new_user_path, class:"nav-link active" %>
  </li>
    <% end %>

  </nav>
  <ul class="nav justify-content-left">
    <li class="nav-item">
      <%= link_to 'Home', root_path, class:"nav-link active" %>
      </li>

      <li class="nav-item">
      <%= link_to 'Solar System', regions_path( @region ), class:"nav-link active" %>
    </li>

      <li class="nav-item">
      <%= link_to 'Planets', planets_path( @planet ), class:"nav-link active" %>
    </li>

      <li class="nav-item">
      <%= link_to 'Moons', moons_path( @moon ), class:"nav-link active" %>
    </li>
    </ul>
  </nav>
    <%= yield %>
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
  </body>
</html>

<style>
.navbar-expand-lg{
  background-color: pink ;
}
</style>
